* {
    font-family: inherit;
    box-sizing: border-box;
}

html {
    background-color: #fefefe;
}

body {
    display: flex;
    margin: 0;
    padding: 1rem;
    font-size: 16px;
    font-family: monospace;
}

body:after {
    content: '';
    display: table;
    clear: both;
}

main {
    margin: 0 auto;
}

h2 {
    margin-top: 0;
}

#canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

#colorPalette {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    width: 100%;
}

.colorButton {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 50%;
    transition: transform 0.5s, border-width 0.5s;
    transform: scale(1);
}

.colorButton:hover {
    transform: scale(1.25);
}

.colorButton.selected {
    border-color: #303030;
    transform: scale(1.25);
}

.board {
    float: left;
    margin-left: 1rem;
}

.chat {
    float: left;
    width: 20rem;
}

#chatContainer {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 45rem;
}

#messageBox {
    flex: 1;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: #fcfcfc;
    border: 1px solid #eee;
    overflow: auto;
}

.chatMessage + .chatMessage {
    margin-top: 0.5rem;
}

#inputContainer {
    display: flex;
    width: 100%;
}

#inputContainer input,
#inputContainer button {
    padding: 0.5rem;
    font-size: 1rem;
}

#inputContainer input {
    flex: 1 0 auto;
    border: 1px solid #ccc;
    border-right: none;
}

#inputContainer button {
    flex: 0 0 auto;
    color: #fff;
    background-color: #303030;
    border: 1px solid #303030;
}

.red {
    color: #f55;
}

.canvasContainer {
    position: relative;
}

.lock {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    border: 1px solid #ccc;
    color: #303030;
    background-color: #fff;
}

.lock label {
    cursor: pointer;
    padding: 0.25rem;
}

.lock input {
    border: none;
    width: 0;
    transition: width .3s ease;
}

.lock input:focus {
    margin-left: 0.5rem;
    width: 5rem;
    border-bottom: 1px solid #eee;
}

.newRound {
    position: absolute;
    top: 3rem;
    left: calc(50% - 5rem);
    padding: 0.5rem;
    width: 10rem;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fff;
    font-weight: bold;

    opacity: 0;
    transform: translateY(-2rem);
}

.newRound.active {
    animation: new 2s ease both;
}

@keyframes new {
    20%,80% {
        opacity: 1;
        transform: translateY(0);
    }
}